<mat-toolbar>
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span>FGS Service</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
 
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showData()">
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item  (click)="getToken()">
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      
  </mat-toolbar>
 
  <!-- This header will *not* be styled because it is outside `.mat-typography` -->
  <h1 class="fntstyletitle" align="center">Ingrese sus datos</h1>
   
  <div  class="row g-3">
    <div class="col-md-12"></div>


    <div class="col-md-3"></div>
    <div class="col-md-8">
    <p class="carrois-gothic-regular ">Seleccione un boton según las opciones disponibles:</p>
    <ul>
      <li> <p class="carrois-gothic-regular ">Si quiere crear una compania presione  <em>"Crear Compania"</em>. </p>  </li>
      <li> <p class="carrois-gothic-regular "> Si quiere crear un proveedor presione <em>"Crear Proveedor"</em></p> </li>
      <li> <p class="carrois-gothic-regular "> Si quiere unirse a una compania existente presione <em>"Unirme a Compania"</em></p> </li>
      <li> <p class="carrois-gothic-regular "> Si quiere unirse a un proveedor existente presione <em>"Unirme a Proveedor"</em></p> </li>
     </ul>
     <p class="carrois-gothic-regular ">Una vez finalizado un formulario presione <em>"Guardar" </em></p>
    </div>
   
    <div class="col-md-2"></div>
  <div class="col-md-2">
    <button 
    matTooltip ="Si queres crear tu propia compania"
    mat-raised-button class="btn-1" (click)="openDialog('Newcompany')">Crear Compania</button>
  </div>
<div class="col-md-2"> 
    <button 
    matTooltip ="Si queres crear tu propio proveedor"
    mat-raised-button class="btn-1" (click)="openDialog('Newprovider')">Crear Proveedor</button>
</div>
<div class="col-md-2">
  <button mat-raised-button 
  matTooltip ="Si queres unirte a una compania existente"
  class="btn-1" (click)="openDialog('addCompany')">Unirme a Compania</button>
</div>
<div class="col-md-2">
  <button mat-raised-button
  matTooltip ="Si queres unirte a un proveedor existente"
  class="btn-1" (click)="openDialog('addProvider')">Unirme a Proveedor</button>
</div>
    <div class="col-md-12"></div>
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <button 
       matTooltip ="Presione para continuar"
      [disabled]="(!this.selectinfo.isCompany)&&(!this.selectinfo.IsProvider)"
      (click)="SaveChanges()"
      mat-raised-button class="btn-2">Guardar</button>
    </div>
  </div>
<!--
 
-->
 
<ngx-loading
[show]="loading"
[config]="{
  animationType: ngxLoadingAnimationTypes.cubeGrid,
  primaryColour: primaryColour,
  backdropBorderRadius: '3px'
}"
[template]="loadingTemplate"
></ngx-loading>

<!--


<button  type="button" class="btn btn-success" (click)="showData()"> show data</button>
<button  type="button" class="btn btn-danger"  (click)="getToken()">show  token</button>

@for (alert of alerts; track alert) {
	<ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
}
<button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
-->
