.fntstyletitle {
    margin-top: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    font-weight: 1600;
    font-style: normal;
  }
  
  .carrois-gothic-regular {
    font-family: "Carrois Gothic", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
  }
  