<h1 class="fntstyletitle" align="center">Ingrese sus datos</h1>
   
<div  class="row g-3">
  <div class="col-md-12"></div>


  <div class="col-md-3"></div>
  <div class="col-md-8">
  <p class="carrois-gothic-regular ">Seleccione un boton según las opciones disponibles:</p>
  <ul>
    <li> <p class="carrois-gothic-regular ">Si quiere crear una compania presione  <em>"Crear Compania"</em>. </p>  </li>
    <li> <p class="carrois-gothic-regular "> Si quiere crear un proveedor presione <em>"Crear Proveedor"</em></p> </li>
    <li> <p class="carrois-gothic-regular "> Si quiere unirse a una compania existente presione <em>"Unirme a Compania"</em></p> </li>
    <li> <p class="carrois-gothic-regular "> Si quiere unirse a un proveedor existente presione <em>"Unirme a Proveedor"</em></p> </li>
   </ul>
   <p class="carrois-gothic-regular ">Una vez finalizado un formulario presione <em>"Guardar" </em></p>
  </div>