<div class="row g-3">
    <div class="col-md-4"> </div>
    <div class="col-md-8">
        <h1 class="fntstyletitle"> Bienvenido {{name}} a tu compania! </h1>
    </div>
 
</div>
<br><br><br><br>
<div class="row g-4">
    <div class="col-md-3"> </div>
    <div class="col-md-2">      
        <button class="customIconSize" mat-fab>
            <p  class="fnt-icon">Check IN</p>    
              <mat-icon class="icon-rotate-right"  >local_shipping</mat-icon>             
          </button>   
            
    </div>
    <div class="col-md-2">    
        <button class="customIconSize" mat-fab>
            <p  class="fnt-icon">Check out</p>    
            <mat-icon class="icon-rotate-left" >local_shipping</mat-icon> 
          </button>
    </div>
    <div class="col-md-2">    
        <button
        routerLink="/home/asociate" routerLinkActive="active"
        class="customIconSize" mat-fab>
            <p  class="fnt-icon">Associate</p>
            <mat-icon  class="icon-rotate-right"   >handshake</mat-icon> 
          </button>

    </div>
    <div class="col-md-2">    
        <button class="customIconSize" mat-fab>
            <mat-icon  >local_shipping</mat-icon> 
          </button>
    </div>
    <div class="col-md-1"> </div>
    <div class="col-md-12"> </div>
    <div class="col-md-12"> </div>
    <div class="col-md-12"> </div>
    <div class="col-md-12"> </div>
</div>
 
<div class="row g-4">
<div class="col-md-3"> </div>
<div class="col-md-2">      
    <button class="customIconSize" mat-fab>
        <mat-icon  >local_shipping</mat-icon> 
      </button>        
</div>
<div class="col-md-2">    
    <button class="customIconSize" mat-fab>
        <mat-icon  >local_shipping</mat-icon> 
      </button>
</div>
<div class="col-md-2">    
    <button class="customIconSize" mat-fab>
        <mat-icon  >local_shipping</mat-icon> 
      </button>
</div>
<div class="col-md-2">    
    <button class="customIconSize" mat-fab>
        <mat-icon  >local_shipping</mat-icon> 
      </button>
</div>
<div class="col-md-1"> </div> </div>