/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error{
  color: white;
  --mdc-snackbar-container-color: #ff0505 !important;
}


.successful{
  color: white;
  --mdc-snackbar-container-color: #00ff37 !important;
}

.toolbar-style{
  color: white!important;
  --mdc-snackbar-container-color: #00ff37 !important;
}